<html>
    <body>
        <form method="get" action="/getWeather">
            <label>Enter City Name:</label><input type="text" name="txtcity" />
            <input type="submit" value="GET CURRENT WEATHER" />
        </form>
    </body>
</html>